{% extends "admin/layout.twig" %}
{% block html_title %}Mídias - Administração - {{ parent() }}{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}
{% set nav_active = 'series' %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ base_url() }}/admin">Início</a></li>
  <li><a href="{{ base_url() }}/admin/series">Series</a></li>
  <li><a href="{{ base_url() }}/admin/series/edit/{{ serie.id }}">{{ serie.nome_serie }}</a></li>
  <li class="active">Editar</li>
</ol>
{% endblock %}
{% block content %}

<div class="page-header">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
      <h2>Editar Série de Mensagem</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-xs-12 col-sm-12">
    <form role="form" data-toggle="validator" action="{{ base_url() }}/admin/series/edit/{{ serie.id }}" method="POST"  enctype="multipart/form-data">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <div class="form-group">
            <label for="inputTitle">Título</label>
            <input class="form-control" type="text" id="inputTitle" name="nome_serie" value="{{ serie.nome_serie }}" required>
            <input id="postid" type="hidden" name="id" value="{{ serie.id }}">
          </div>
        </div>
        <div class="col-sm-offset-3 col-sm-6">
            <label for="slug">Slug</label>
            <input id="slug" class="form-control form-group" type="text" name="slug" placeholder="Slug" value="{{ serie.slug }}" required>
            
          </div>
        <div class="col-sm-offset-3 col-sm-6">
          <div class="form-group">
            <label for="inputTitle">Data</label>
            <input class="form-control" type="date" id="usr_date" name="usr_date" value="{{ serie.usr_date }}" required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
          <div class="panel panel-default">
                <div class="panel-heading text-center">
                  Imagem de Destaque
                </div>
                <div class="panel-body">
                  <img id="img-perfil" src="{{ base_url() }}/{{ serie.img_destaque }}" alt="Imagem de destaque" class="img-responsive">
                </div>
                <div class="panel-footer">
                  <p class="text-center" >Tamanho Máximo: 200kb</p>
                  <input id="postid" type="hidden" name="img_destaque_load" value="{{ serie.img_destaque }}">
                  <input id="inputFile" type="file" class="btn btn-default btn-lg" style="display: block; margin: 0 auto; position:relative; max-width: 100%;" name="img_destaque"></input>
                </div>
              </div>
        </div>
      </div>
      <hr>
      <div class="row">

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Atualizar</button>
        </div>
      </div>

    </form>
  </div>
</div>


{% endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
var editor = new SimpleMDE({
  spellChecker: false,
  toolbar: [
    "bold", "italic", "heading", "|",
    "quote", "unordered-list", "ordered-list", "|",
    "link", "image", "table", "|",
    "preview", "|", "guide"
  ],
});
</script>

<script>

$(document).ready(function () {
  var tipo = $("#tipoPost option:selected").val();

    if(tipo == 2) {
      $("#img").hide();
      $("#video").show();
    } else {
      if(tipo == 1) {
        $("#img").show();
        $("#video").hide();
      }
    }
});

  $("#tipoPost").change(function() {
    var tipo = $("#tipoPost option:selected").val();

    if(tipo == 2) {
      $("#img").hide();
      $("#video").show();
    } else {
      if(tipo == 1) {
        $("#img").show();
        $("#video").hide();
      }
    }

  }
  );
</script>

<script type="text/javascript">

  var imagem = $("#img-perfil");
  var arquivo = $("#inputFile");
  arquivo.on("change", function (){
      if (arquivo[0].files.length == 0)
      return false;
      var file = arquivo[0].files[0];
      var url = URL.createObjectURL(file);
      imagem.attr("src", url);
      imagem.attr("title", file.name);
      console.log(arquivo[0].files[0]);
   });
</script>

<script type="text/javascript">

  document.getElementById('data_alteracao').valueAsDate = new Date($("#data_alteracao").val());
</script>

{% endblock %}
