{% extends "layout.twig" %}
{% block html_title %}Carrinho de Compras - {{ parent() }}{% endblock %}
{% set nav_active = 'courses' %}
{% block content -%}

<div class="container order">
  <div class="page-header">
    <h1>Carrinho de Compras</h1>
  </div>

  <div class="well">
    <span class="h3">{{ course.name }}</span>
    <div class="pull-right">
      <span class="h3">R${{ course.price }}</span>
    </div>
  </div>

  <div class="pull-right">
    <form method="post" action="{{ pagseguro_url }}">
      <input name="receiverEmail" type="hidden" value="{{ pagseguro.email }}">
      <input name="currency" type="hidden" value="BRL">
      <input name="reference" type="hidden" value="{{ reference }}">
      <input name="itemId1" type="hidden" value="{{ course.id }}">
      <input name="itemDescription1" type="hidden" value="{{ course.name }}">
      <input name="itemAmount1" type="hidden" value="{{ course.price }}">
      <input name="itemQuantity1" type="hidden" value="1">
      <input name="encoding" type="hidden" value="UTF-8">
      <input alt="Pague com PagSeguro" name="submit" type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/120x53-pagar.gif"/>
    </form>
  </div>
</div>


{%- endblock %}
